{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>For-lady</title>
    <link rel="stylesheet" href="lady.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,700|Montserrat:400,500,700|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/lady.css' %}">
</head>
<body>
        <header>
            <div class="container">
                <nav>
                    <div class="logo">
                        <a class="for-logo" href="">Beauty by <br> <span>Aiperi</span></a>
                    </div>
                    <ul>

         <li><a href="{% url 'lady_list' %}">Главная</a></li>
                        <li><a href="{% url 'salon' %}">О салоне</a></li>
                        <li><a href="{% url 'portfolio' %}">Портфолио</a></li>
                        <li><a href="#footer">Контакты</a></li>
                    </ul>

                
                </nav>
            </div>
        </header>
<section id="hero">
    <div class="container">
        <div class="row">
            <h2 class="data-menu">Мы создаем красоту и успех <br>
                Добро пожаловать в мир <br> совершенства</h2>
        </div>
        <div class="laak">
                <a href="#services">Down</a>
                <img src="https://pngimage.net/wp-content/uploads/2018/06/%D0%BB%D0%B0%D0%BA-png-.png" alt="" width="10px">
        </div>
    </div>
</section> 
<section id="services">
    <div class="container">
        <div class="service_menu">
            <h3>Салон красоты - Айпери</h3>
            <p>Предлагаем вам воспользоваться полным комплексом парикмахерских, <br>
                маникюрных и косметологических услуг</p>
        </div>


        <div class="fusion">
            <div class="row">
                <div class="col-3 first">
                    <a href="{% url 'hair' %}">Парикмахерский зал</a>
                </div>
                <div class="col-3 two">
                    <a href="{% url 'cosmet' %}">Косметология</a>
                </div>
                <div class="col-3 three">
                    <a href="{% url 'makeup' %}">Макияж</a>
                </div>
                <div class="col-3 four"><a href="{% url 'nail' %}">Ногтевой сервис</a></div>
            </div>
        </div>
    </div>
</section>   
<section id="brands">
    <div class="container">
        <div class="world_brand">
            <h3>Лучшие мировые бренды</h3>
            <p>Мы используем самые последние достижения современной косметологии</p>
        </div>
        <div class="brand">

            <img src="{% static 'css/images/loreal.png' %}" alt="" width="300px" height="160px">
            <img src="{% static 'css/images/cnd.png' %}" alt="" width="300px" height="160px">


        </div>
    </div>
</section>

<section class="maps">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d731.0700351769689!2d74.60284783891866!3d42.86693094890162!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x389eb727d3174b59%3A0x4ff755d05a599b97!2sPerspective-English!5e0!3m2!1sen!2skg!4v1580750230027!5m2!1sen!2skg" width="1280" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>

</section>    
<footer id="footer">
    <div class="container">
        <div class="col-4">
            <h2><a class="for" href="#">Beauty by <span>Aiperi</span></a>
            </h2>
            <p>Мы создаем красоту и успех <br>
                    Добро пожаловать в мир
                    совершенства.</a>
            </p>
        </div>
        <div class="col-4">
            <h2>Режим работы
            </h2>
            <p>Понедельник - Пятница 10:00-22:00</p>
            <p>Суббота - Воскресенье 12:00-18:00</p>
        </div>
        <div class="col-4">
            <h2>Контакты</h2>
            <a href="">+996505212020</a>
            <a href="">+996505212020</a>
            <a href="">bahara@gmail.com</a>
        </div>

    </div>
</footer>
</body>
</html>


