{% load static %}
<html>
    <head>
        <title>nail_update</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'css/nail_update.css' %}">
    </head>
    <body>
        <div>
                <h1>Update Nail</h1>


                <form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="save btn btn-default">Save</button>
                        <p><a href="{% url 'nail_delete' pk=form.instance.id %}"> Delete </a></p>
                </form>
        
    </body>
</html>





