{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>nail</title>
    <link rel="stylesheet" href="nail.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,700|Montserrat:400,500,700|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/nail.css' %}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo"><a class="for-logo" href="#">Beauty by <br> <span>Aiperi</span></a>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="menu">
            <h2>Ногтевой сервис</h2>
            <a href="{% url 'lady_list' %}">Главная</a>
        </div>
    </div>
</section>
<div class="container2">
    <div class="row">
        <div class="col-4">

            {% for item in nails %}

            <img height="320px" src = '{{item.image.url}} '>
            <h2 class="last">  {{item.title}} </h2>
            <p>{{item.text}} </p>
            <a href="{% url 'nail_update' pk=item.pk %}">  Изменить </a> 
            <h1>___________________________________________________</h1>

            {% endfor %}

        </div>
    </div>
</div>
</body>
</html>