{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="salon.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,700|Montserrat:400,500,700|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/portfolio.css' %}">
    <link rel="stylesheet" href="{% static 'css/lady.css' %}">
    

</head>
<body>
<section id="portfolio">
    <div class="container">
        <div class="intro">
            <h3>Портфолио</h3>
            <p>Территория красоты, гармонии и уюта <br>
             Работы наших профессиональных и прекрасных мастеров </p>
             <div class="menu">
                    <a href="{% url 'lady_list' %}">Главная</a>
                </div>        </div>
        <div class="row">
                {% for item in portfolios %}
                <a class="col-3" href="{% url 'portfolio_update' pk=item.pk %}">   <img  src = '{{item.image.url}} ' height="260px"  > </a>
                {% endfor %}

<!--                <h3 > <a  href="{% url 'portfolio_create' %}"   > Create New Image  </a> </h3>-->
        </div>
    </div>
</section>