{% load static %}
<h1>New Portfolio Image</h1>
<form method="POST" class="post-form" enctype="multipart/form-data">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default"> Save </button>
</form>


