{% load static %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>salon</title>
    <link rel="stylesheet" href="salon.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat+Alternates:400,500,700|Montserrat:400,500,700|Open+Sans+Condensed:300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/salon.css' %}">
</head>
<body>
<header>
    <div class="container">
        <div class="logo"><a class="for-logo" href="#">Beauty by <br> <span>Aiperi</span></a>
        </div>
    </div>
</header>
<section>
    <div class="container">
        <div class="menu">
            <h2>О Салоне</h2>
            <a href="{% url 'lady_list' %}">Главная</a>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <div class="col-2">
            <div class="text">
                <p>Салон красоты Айпери – это команда косметологов, стилистов и нейл-мастеров с медицинским или профильным образованием, на чувство стиля которых можно положиться.</p>

            </div>
        </div>
        <div class="col-2">
            <img src="{% static  'css/images/team.jpg' %}" alt="">
        </div>
        <div class="col-2">
            <img src="{% static  'css/images/loreal.jpg' %}" alt="">
        </div>
        <div class="col-2">
            <div class="text">
                <p>Для создания стильного образа мы используем премиальные косметологические средства: Loreal, Wella Professional, Lebel и другие.</p>
            </div>
        </div>
        <div class="col-2">
            <div class="text">
                <p>В салоне вы можете стильно подстричься, сделать химическую завивку, ламинирование. Маникюр и педикюр станут дополнительными вашими украшениями, а чистка и пилинг позаботятся о коже вашего лица.</p>
            </div>
        </div>
        <div class="col-2">
            <img src="{% static  'css/images/intro.jpg' %}" alt="">
        </div>
    </div>
</div>
</body>
</html>