
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
    scroll-behavior: smooth;
}
a{
    text-decoration: none;
    display: block;
}
li {
    display: inline-block;
}
header{
    width: 100%;
    background: rgba(12, 12, 12, 0.57);
    text-transform: uppercase;
    padding: 1.5rem 0;
    position: absolute;

}
.container {
    width: 90%;
}
header .container nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding-left: 3.5rem;
}
header nav .for-logo{
    font-size: 4.6rem;
    color: #242632;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1;
    text-decoration: none;

}
header nav .for-logo span{
    font-size: 4rem;
    color: rgba(235, 12, 97, 0.89);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.4rem;
    font-weight: 600;
    line-height: 1;
    transition: 1.6s;
    text-decoration: none;

}
header nav .for-logo span:hover{
    padding-left: 13rem;
}
#hero .container .row .a_intro{
    margin-top: -7rem;
    width: 100%;
    display: block;
}
#hero .container .row .a_intro .vol {
    margin-bottom: 2.5rem;
}
header .container nav li a {
    font-family: 'open sans', sans-serif;
    font-weight: 600;
    line-height: 1;
    font-style: normal;
    font-size: 2rem;
    color: rgba(235, 12, 97, 0.89);
    margin-left: 2rem;
    text-decoration: none;
}
header .container nav li a:hover {
    color: rgba(235, 12, 97, 0.89);
    font-weight: 600;
    transition: 0.6s;
    font-size: 2rem;
    text-decoration: none;

}
#hero {
    width: 100%;
    height: 100vh;
    background-color: rgba(255,255,255,0);
    background-image: url(http://interlik-salon.ru/wp-content/uploads/2018/06/4444.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    padding-top: 25rem;
    padding-right: 3rem;
    padding-bottom: 15rem;
    padding-left: 3rem;
    border-top-width: 0px;
    border-color: #eae9e9;
    border-top-style: solid;
    border-bottom-style: solid;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
#hero .container .row   {
    width: 100%;
    margin: 0 auto;
}

#hero .container .row .data-menu {
    font-family: 'Montserrat', sans-serif;
    color: #595f6b;
    font-size: 5rem;
    font-weight: 300;
    line-height: 1;
    font-style: normal;
    padding-top: 4.2rem;
}
#hero .container .laak{
    margin: 0 auto;
    width: 100%;
    text-align: center;
    padding-top: 7rem;
    
}
#hero .container .laak a{
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    border: 0.2rem solid  rgba(235, 12, 97, 0.89);
    border-radius: 2rem;
    color:  rgb(255, 0, 0,);
    margin: 0 auto;
    width: 9%;
    margin-top: -20px;
    text-transform: none;
   
}
#hero .container .laak a:hover{
    font-size: 2.2rem;
    transition: 0.4s;
   text-decoration: none;

}
#hero .container .laak img {
    width: 8%;
    margin: 0 auto;
    
}
#services{
    width: 100%;
    background-color: #efe7eb;

}
#services .container {
    width: 95%;
    margin: 0 auto;

}
#services .container .service_menu{
    width: 100%;
}
#services .container .service_menu h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #595f6b;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 11rem;
    
}
#services .container .service_menu p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #595f6b;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1.5;
    font-style: normal;
    text-align: center;
    padding-bottom: 8rem;
    margin-top: 1.2rem;

}
.fusion{
    width: 100%;
}
.fusion .row {
    width: 100%;
    display: flex;
}
.fusion .row .col-3{
    width: 25%;
    height: 60rem;
    position: relative;
}
.fusion .row .first{
    background-image:url("/static/css/images/3.jpg");
    background-size: cover;

}
.fusion .row .first:hover{
    background-size: 150%;
    background-position: top;
    transition: 2s;

}
.fusion .row .first a{
    padding: 4rem 4rem;
    background: rgba(137, 38, 255, 0.67);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2.3rem;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}

.fusion .row .two{
    background-image:url("/static/css/images/4.jpg");
    background-size: cover;

}
.fusion .row .two:hover{
    background-size: 150%;
    background-position: top;
    transition: 2s;

}
.fusion .row .two a{
    padding: 5.4rem 24%;
    background: rgba(255, 209, 141, 0.73);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2.3rem;
    text-align: center;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;

}
.fusion .row .three{
    background-image:url("/static/css/images/1.jpg");
    background-size: cover;

}
.fusion .row .three:hover{
    background-size: 150%;
    background-position: top;
    transition: 2s;

}
.fusion .row .three a{
    padding: 5.4rem 35.5%;
    background: rgba(111, 255, 214, 0.68);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2.3rem;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}
.fusion .row .four{
    background-image:url("/static/css/images/5.jpg");
    background-size: cover;

}
.fusion .row .four:hover{
    background-size: 150%;
    background-position: top;
    transition: 2s;

}
.fusion .row .four a{
    padding: 4rem 18.5%;
    background: rgba(255, 0, 0, 0.78);
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2.3rem;
    text-align: center;
    color: #fff;
    font-family: 'Montserrat', sans-serif;

}
@media screen and (max-width: 976px){
    #services .container .fusion .row .col-3{
        width: 50%;
        flex-wrap: nowrap;
    }
}


#portfolio {
    width: 100%;
    background-color: #efe7eb;

}
#portfolio .container {
    width: 95%;
    margin: 0 auto;
}
#portfolio .container .intro{
    width: 95%;
    margin: 0 auto;
}
#portfolio .container .intro h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #fff;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 8rem;
}
#portfolio .container .intro p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #fff;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 1.5;
    font-style: normal;
    text-align: center;
    padding-bottom: 8rem;
    margin-top: 1rem;
}
#portfolio .container .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
#portfolio .container .row .col-3{
    width: 25%;
    overflow: hidden;
}
#portfolio .container .row .col-3 img{
    background-size: cover;
}
#brands {
    width: 100%;
}
#brands .container{
    margin: 0 auto;
    width: 100%;
}
#brands .container .brand{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}
#brands .container .brand{
    padding-bottom: 3rem;
}
#brands .container .world_brand h3{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    color: #595f6b;
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    font-style: normal;
    text-transform: uppercase;
    padding-top: 8rem;
}
#brands .container .world_brand p{
    font-family: 'Open Sans Condensed', sans-serif;
    color: #595f6b;
    font-size: 2.6rem;
    font-weight: 300;
    line-height: 0.7;
    font-style: normal;
    text-align: center;
    padding-bottom: 8rem;
    margin-top: 1rem;
}
#footer  {
    width: 100%;
    padding: 2rem 0;
    background: #555555;
    color: #fff;
    font-family: 'Open Sans Condensed', sans-serif;

}
#footer a{
    color: #fff;
}
#footer h2 {
    color: black;
}
#footer .for{
    color: black;
}
#footer .container {
    display: flex;
    margin: 0 auto;
    text-align: center;
    font-size: 1.5rem;

}
#footer .container .col-4{
    width: 43%;
}
.maps {
    width: 100%;
    margin: 0auto;
}