div {
    
    text-align: center;
}





div h1 {
    text-align: center;
    color: red;
}
input {
    text-align: center;

}
input, button, select , textarea {
    text-align: center;
    padding-top: 50px;
}
input .file{
    display: block;

}