*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 10px;
}
a{
    text-decoration: none;
    color: brown;
}
li {
    display: inline-block;
}
header{
    width: 100%;
    text-transform: uppercase;
    padding: 1.5rem 0;
    position: absolute;

}
.container {
    width: 90%;
}
header nav{
    display: flex;
    justify-content: start;
    align-items: center;
    width: 100%;
    padding-left: 5rem;
}
header .container .logo .for-logo{
    font-size: 4.6rem;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    line-height: 1;
    padding-left: 4rem;
}
header .container .logo .for-logo span{
    font-size: 4rem;
    color: rgb(255, 0, 194);
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.4rem;
    font-weight: 600;
    line-height: 1;
    transition: 1.6s;
    padding-left: 4rem;
}
header .container .logo .for-logo span:hover{
    padding-left: 13rem;

}
section{
    width: 100%;
    background: url("/static/css/images/bg.jpg");
    background-size: 100%;
    z-index: 100;
    -webkit-box-shadow: inset -38px -33px 179px 11px rgba(0,36,89,0.7);
    -moz-box-shadow: inset -38px -33px 179px 11px rgba(0,36,89,0.7);
    box-shadow: inset 0px -132px 140px 0px rgba(0,0,0,0.7);
}


.container {
    width: 100%;
    margin: 0 auto;
}

section .container .menu{
    width: 100%;
    margin: 0 auto;
}


section .container .menu h2{
    padding-top: 15rem;
    font-size: 5.2rem;
    color: rgb(255, 255, 255);
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    line-height: 1;
    text-align: center;

}
section .container .menu a{
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    font-size: 2rem;
    color: #ffffff;
    text-align: center;
    display: block;
   
}
.row {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding-top: 6rem;
    flex-wrap: wrap;
}
.container .row .col-2 {
    width: 50%;
    overflow: hidden;
    background: #ff3bba;

}
.container .row .col-2 .text {
    margin: 0 auto;
    width: 70%;
    padding-top: 10rem;

}
.container .row .col-2 .text p{
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 2.6rem;
    color: #ffffff;
    font-weight: 400;
    line-height: 1.4;

}
.container .row .col-4 a{
    font-family: 'open sans', sans-serif;
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    font-size: 2rem;
    color: #ffffff;
    background: rgba(255, 25, 192, 0.98);
    border-radius: 30px;
    padding: 0.6rem 2rem;
    margin-left: 11rem;
    margin-top: 5rem;
}
.container .row .col-4 h2{
    font-family: 'Montserrat', sans-serif;
    color: #595f6b;
    font-size: 2.6rem;
    font-weight: 400;
    line-height: 1;
    font-style: normal;
    padding-top: 2rem;
    padding-bottom: 1.3rem;


}
.container .row .col-4 p{
    color: #595f6b;
    font-size: 1.8rem;
    font-weight: 300;
    line-height: 1.5;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}
.container .row .col-4 .last{
    padding-bottom: 2rem;
}
.container .row .two {
    margin-left: 4rem;
}
.container .row .three {
    margin-left: 4rem;
}
